* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: 0;
    text-decoration: 0;
    /* background-color: #efebdd; */
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(/Media/22.svg);

}

/* header v v v */


header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #efebdd;
    padding: 0 40px 0 40px;
    border-radius: 5px;
}

.nav-link {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}

.nav-link:hover {
    color: rgb(136, 136, 136);
}

.searchbar{
    height: 20px;
    border-radius: 12px;
    border: solid 1px black;
    margin: 18px 0 18px 18px;
}

.logo {
    font-family: 'Festive', sans-serif;
    font-size: 35px;
    height: auto;
    display: inline;
}
/* ---------------main v v v-------------------- */
h1 {
    font-family: 'Festive', sans-serif;
    font-size: 120px;
    color: #492201;
}
h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    color: #492201;

}

h3 {
    font-family: 'Festive', sans-serif;
    font-size: 50px;
    margin: 10px;

}

p {
    font-size: 18px;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efebdd;
    border-radius: 5px;
}

.main-container-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content-top {
    width: 80%;
    height: 400px;
    background-color: black;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.top-img{
    width: 100%;
}

button {
    border: 0;
    margin: 10px;
    height: 50px;
    width: 180px;
    background-color: #633200;
    border-radius: 5px;
    font-size: large;
    color: white;
}

button:hover {
    background-color: rgb(161, 134, 98);
}


.main-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.main-content-bottom-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}


/* ---------------------footer------------------------ */

.footer-container {
    height: 300px;
    background-color: #efebdd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    margin: 4px 40px 4px 40px;
    list-style: none;
}

